.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 15px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.header-image {
  height: 80%;
  margin-right: 6px;
  margin-left: 0px;
}

.header-title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header-project {
  font-size: 0.65rem;
  font-weight: 500;
}
